.cart {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #dee2e6;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    min-width: 24%;
    border-radius: 30px;
  }
  
  .cart h2 {
    color: #ffffff;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
    color: #ffffff;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
  }
  
  
  