.product-item {
  background-color: rgba(0, 0, 0, 0.214);
  backdrop-filter: blur(3px);
  border: 1px solid #dee2e6;
  padding: 20px;
  width: 250px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(152, 113, 113, 0.1);
  transition: transform 0.2s;
  border-radius: 30px;
}

.product-item:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: none;
}

.product-image {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit:cover; /* Ensures the image covers the entire area */
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-item h5 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: large;
}

.product-item p {
  color: #ffffff;
  margin-bottom: 10px;
  
}

.product-item .rating {
  margin-bottom: 10px;
  color: #ffc107;
}

.product-item .btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
}


.product-item .btn-primary {
  background-color: #007bff;
  color: #ffffff;
}
.product-item .btn-primary:hover {
    background: linear-gradient(to top, rgb(0, 0, 0) 20%, blue);
    -webkit-animation: jello-vertical 0.6s both;
}
@-webkit-keyframes card{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}



.product-item .btn-danger {
  background-color: #dc3545;
  color: #ffffff;
}
.product-item .btn-danger:hover {
  background: linear-gradient(to top, rgb(0, 0, 0) 20%, red);
  -webkit-animation: jello-vertical 0.6s both;
}
@-webkit-keyframes card{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}




@media (max-width: 500px) {
  .product-item{
    backdrop-filter: none;
  }
}